<div class="jumbotron mt-4">
  <h1 class="display-4">Node App NodeJs and MongoDb</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non similique officia, reprehenderit consectetur velit aut ut quia sint dolore accusamus temporibus ea autem libero animi repellendus repudiandae saepe? Consectetur, modi.Placeat quam magnam saepe voluptas! Possimus harum ratione ab suscipit, nesciunt fugit tempora laborum quia veniam. Quo sed eos iure hic voluptas? Quaerat cumque vel distinctio nobis doloremque nesciunt culpa.</p>
  <a href="#" class="btn btn-primary btn-lg">Visitar</a>
</div>