{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}


<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>New note</h3>
    </div>
    <div class="card-body">
      <form action="/notes/new-note" method="POST">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
        </div>
        <div class="form-group">
          <textarea name="description" id="" rows="5" class="form-control"></textarea>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Guardar</button>


      </form>
    </div>
  </div>
</div>